[run]
branch = true
source = components
omit =
    */tests/*
    */__main__.py
    */site-packages/*

[report]
precision = 2
show_missing = true
skip_covered = false
fail_under = 85
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    @abstractmethod
    @abc\.abstractmethod

[html]
directory = htmlcov
